<div class="col-lg-8 ">
    <p></p>
        <img class="img-responsive" src="{{unbound STATIC_URL }}static/images/scalecluster.png" alt="test" height="300" width="300"> <!-- height="300" width="768"-->
    </div>